body {
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-family: serif;
}

div#header {
	width:100%;
}

div#attachments {
	background-color: Turquoise;
	padding: 0.5cm;
}

textarea {
	width: 80%;
	height: 20%;
	min-height: 20%;
}