<!DOCTYPE HTML>
<html>
<head>
	<title>Edit {{ .PageName }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>
	<div id="main">
		<div id="header">
			<h1>Edit {{ .PageName }}</h1>
			<span class="breadcrumb"><a href="/">List Pages</a> | <a href="/About/">About the Wiki</a></span>
		</div>
		<div id="content">
			<p>Enter the page content for {{ .PageName }}.  You can use <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a> to format the page.</p>
			<form method="post" action="">
				<textarea name="entry" rows="25">{{ .PageSrc }}</textarea>
				<br/>
				<input type="submit" value="Save Page"/>
			</form>
		</div>
		<div id="attachments">
			Attachments:
			<ul>
			{{ range .AttachmentList }}
				<li>{{ . }}</a></li>
			{{ end }}
			</ul>
			<form method="post" action="./attachment/" enctype="multipart/form-data">
				<label>Attachment Name:</label><input type="text" name="name"/><br/>
				<lable>File:</label><input type="file" name="file"/><br/>
				<input type="submit" value="Load Attachment"/>
			</form>
		</div>		
		<div id="footer">
			<span>Simple Wiki</span>
		</div>
	</div>
</body>
</html>