<!DOCTYPE HTML>
<html>
<head>
	<title>Wiki - {{ .PageName }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>
	<div id="main">
		<div id="header">
			<h1>Wiki Page: {{ .PageName }}</h1>
			<span class="breadcrumb"><a href="/edit/{{ .PageName }}/">Edit this page</a> | <a href="/">List Pages</a> | <a href="/About/">About the Wiki</a></span><span class="breadcrumb">Hello {{ .ReqInfo.User }}</span>
		</div>
		<div id="content">
			{{ .Content }}
		</div>
		<div id="attachments">
			Attachments:
			<ul>
			{{ range .AttachmentList }}
				<li><a href="./{{ . }}">{{ . }}</a></li>
			{{ end }}
			</ul>
		</div>
		<div id="footer">
			Revisions: <a href="?rev=0">First</a> &lt;
		{{ range .RevisionList }}
			<a href="?rev={{ . }}">{{ . }}</a> &lt;
		{{ end }}
		<a href="?rev=-1">Current</a>
			<span>Simple Wiki</span>
		</div>
	</div>
</body>
</html>